# Godot 4 cache & metadata
.godot/
*.tmp
*.translation
*.png~
*.tscn~
*.gd~

# Export-related
export.cfg
export_presets.cfg
.export/
.android/
.macos/
.windows/
.linux/

# Crash dumps (mono or gdscript)
mono_crash.*

# VSCodium / VS Code settings
.vscode/
.vscode-oss/

# OS-specific junk
.DS_Store
Thumbs.db
